<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>우리 북카페</title>
    <link rel="stylesheet" th:href="@{/css/list.css?v=3}">
</head>
<body>
<main id="list2">
    <h3>북챗 :: 커뮤니티</h3>
    <p>오늘 무슨 책을 읽으셨나요? </p>
    <hr style="color:white;">
    <div style="margin:auto;width:900px;">
        <ul id="main">
            <li>
                <ul class="row">
                    <li>번호</li>
                    <li>제목</li>
                    <li>작성자</li>
                    <li>조회수</li>
                    <li>작성일</li>
                </ul>
            </li>

            <!-- Thymeleaf 반복문을 사용하여 동적으로 데이터를 출력 -->
            <li th:each="vo : ${list}">
                <ul class="row">
                    <li th:text="${vo.r}"></li>
                    <li><a th:href="@{'read?idx=' + ${vo.idx} + '&page=' + ${paging.currentPage}}" class="title" th:text="${vo.title}"></a>..<span style="color:orange;font-size: 80%;">(<span th:text="${vo.commentCount}"></span>)</span></li>
                    <li th:text="${vo.writer}"></li>
                    <li th:text="${vo.readCount}"></li>
                    <li>
+
                        <!-- Thymeleaf로 날짜 포맷팅 -->
                    </li>
                </ul>
            </li>
        </ul>
        <div style="float:right;margin:40px;">
            <!-- 로그인 여부에 따라 버튼 처리 -->
        </div>
    </div>
    <!-- 페이지 버튼 부분 (동적으로 생성되지 않음) -->
    <div style="width:700px;margin: auto;padding: 10px;text-align: center;">
        전체 글 개수 : <span th:text="${paging.totalCount}"></span> <br>
        <hr>
        <a class="pagenum" th:href="@{'?page=1'}">&lt;&lt;</a>
        <a class="pagenum" th:href="@{'?page=' + ${paging.startPage - 1}}" th:style="${paging.startPage == 1} ? 'display:none;' : ''">&lt;</a>
        <a class="pagenum" th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}" th:href="@{'?page=' + ${i}}" th:text="${i}"></a>
        <a class="pagenum" th:href="@{'?page=' + ${paging.endPage + 1}}" th:style="${paging.endPage == paging.totalPage} ? 'display:none;' : ''">&gt;</a>
        <a class="pagenum" th:href="@{'?page=' + ${paging.totalPage}}">&gt;&gt;</a>
    </div>
</main>
</body>
</html>


